<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.droidsans.photo.droidphoto" >

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:configChanges="screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".BrowseVendorActivity"
            android:label="@string/title_activity_browse"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".BrowseModelActivity"
            android:label="@string/title_activity_browse_model"
            android:parentActivityName=".BrowseVendorActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SplashLoginActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".SplashLoginActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".FloatingSampleActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".FillPostActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:label="@string/title_activity_fill_post"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ImageViewerActivity"
            android:label="@string/title_activity_image_viewer"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.droidsans.photo.droidphoto.MainActivity" />
        </activity>
        <activity
            android:name=".PlaceholderActivity"
            android:label="@string/title_activity_placeholder" >
        </activity>
    </application>

</manifest>
